/**/
html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #f6f5f0;
    --text-color: #000000;
    --shadow-color: #322e2e;
}

.dark-mode {
    --bg-color: #000000;
    --text-color: #f6f5f0;
    --shadow-color: #8f8d8265;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: row;
}

/* Dark Mode Buttons */

.theme-btn {
    bottom: 8%;
    left: 5%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

.theme-btn:active {
    transform: translateY(-3px);
}

.theme-btn i {
    font-size: 2rem;
    color: var(--bg-color);
    pointer-events: none;
}

/* Left Column Items */

.left-column {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 45vw;
    margin: 1rem;
}

.left-column h1 {
    letter-spacing: 0.2rem;
    font-size: xx-large;
    padding: 1rem;
}

.left-column h2 {
    letter-spacing: 0.2rem;
    padding: 1rem;
}

.left-column nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.left-column nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;
    padding: 1rem 0 1rem 0;
}