/**/
html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #f6f5f0;
    --text-color: #000000;
    --shadow-color: #322e2e;
}

.dark-mode {
    --bg-color: #000000;
    --text-color: #f6f5f0;
    --shadow-color: #8f8d8265;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: row;
}

header {
    display: none;
}

/* Dark Mode Buttons */

.theme-btn {
    bottom: 8%;
    left: 5%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

.theme-btn:active {
    transform: translateY(-3px);
}

.theme-btn i {
    font-size: 2rem;
    color: var(--bg-color);
    pointer-events: none;
}

/* Left Column Items */

.left-column {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 45vw;
    margin: 1rem;
}

.left-column h1 {
    letter-spacing: 0.2rem;
    font-size: xx-large;
    padding: 1rem;
}

.left-column h2 {
    letter-spacing: 0.2rem;
    padding: 1rem;
}

.left-column nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.left-column nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;
    padding: 1rem 0 1rem 0;
}

/*Right Section*/

.port-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: auto;
    justify-content: center;
    align-items: center;
}

.port-container .port-item {
    position: relative;
    box-shadow: 10px 10px 5px var(--shadow-color);
}

.port-container img {
    display: block;
    height: 15rem;
    width: 20rem;
}

.port-container .port-item .hover-items {
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.port-container .port-item .hover-items h3 {
    font-size: 1.5rem;
    color: var(--bg-color);
    margin-bottom: 1.5rem;
}

.port-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

.port-container .port-item .hover-items a {
    background-color: var(--bg-color);
    border-radius: 15px;
    padding: 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    box-shadow: 10px 5px 5px var(--shadow-color);
}



/* Responsive Section */

@media only screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    /*header {
        position: sticky;
        top: 0px;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-banner {
        display: flex;
        flex-direction: column;
        letter-spacing: 0.1rem;
    }

    .header-nav {
        
    }

    .header-nav nav {
        padding: 1rem 1rem 0 1rem;
    }*/

    .left-column {
        max-width: 45vw;
        padding: 0.1rem;
        margin: 0;
    }

    .left-column .nav-links {
        position: sticky;
        top: 0px;
    }

    .right-column {
        align-items: center;
        text-align: center;
    }

    .port-container {
        grid-template-columns: 1fr;
    }

    img {
        max-width: 50vw;
    }

    /*.port-container img {
        width: 17rem;
    }*/
}